apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: moto-tracker
  namespace: moto-tracker
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  ingressClassName: traefik
  rules:
    - host: moto.fritz.box # must match PUBLIC_BASE_URL in the secret
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: moto-tracker
                port:
                  number: 8080
